:root{
    --theme_color_dark_headder: rgb(233, 158, 247);
    --theme_color_dark_headder_2: rgb(0, 255, 255);
    --theme_color_dark_headder_3: rgb(104, 211, 251);
    --theme_color_dark_headder_4: rgb(231, 217, 252);
    --theme_color_dark_1: rgb(233, 158, 247);
    --theme_color_light_1: rgb(32, 255, 255);
    --theme_color_light_2: rgb(166, 129, 255);
    --nav_text_color: white;
	--shadow_color:rgba(233, 158, 247,0.1);
	}
